* {
    box-sizing: border-box;
}
//background gets a sky look to it for the area above the image(where the nav bar goes
html {
    font-size: 62.5%;
    background-color: lightblue;
    z-index: -2;
}

html,
body {
    font-family: "Roboto", sans-serif;
}
//Blue button on the Landing Page
.join {
    padding: 0.5% 2%;
    margin: 2% 0 2%;
    .btn(20%, 1.6rem);
    text-shadow: 0 0 10px black, 0 0 15px black;
    @media @phone {
        width: 50%;
    }
}
