//Background for the reporting example page
.wrapper2 {
    background: url(../img/kent-rebman-Hau9TnHS130-unsplash.jpg);
    height: 120vh;
    width: 120%;
    background-size: 100%;
    background-position-y: center;
    background-repeat: no-repeat;
    position: fixed;
    filter: blur(3px);
    z-index: -1;
    margin-top: -3%;
    @media @tablet {
        max-width: 125%;
        width: 125%;
        background-size: 125%;
        background-position: top right;
    }
    @media @phone {
        max-width: 220%;
        width: 220%;
        height: 200vh;
        margin-top: -20%;
        background-position-y: top;
        background-position-x: 220%;
    }
}
.reporting {
    h1 {
        font-size: 3rem;
        padding: 1% 5%;
    }
    p {
        line-height: 150%;
        padding: 0 5% 2%;
        font-size: 1.4rem;
    }
}
.commonIssues {
    h2 {
        font-size: 3rem;
        padding: 1% 5%;
    }
    button {
        margin-left: 60%;
    }
    .blocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-left: 6%;
        div {
            width: 90%;
            margin: 0 auto;
        }
        h3 {
            font-size: 2.5rem;
        }
        li {
            font-size: 1.4rem;
            line-height: 150%;
        }
        @media @phone {
            display: flex;
            flex-direction: column;
            padding-bottom: 5%;
        }
    }
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "contactHeader ."
        "address form";
    .contactHeader {
        grid-area: contactHeader;
    }
    .address {
        grid-area: address;
        font-size: 1.4rem;
        padding-left: 2%;
        width: 90%;
    }
    .right {
        text-align: right;
    }
    .form {
        grid-area: form;
    }
    padding: 1% 3% 2%;
    h4 {
        font-size: 2rem;
    }
    margin-bottom: 3%;
    form {
        text-align: right;
        font-size: 1.4rem;
        input {
            width: 80%;
            margin-bottom: 2%;
            border-radius: 5px;
        }

        textarea {
            width: 80%;
            border-radius: 4px;
        }
        .actions {
            .join {
                width: 70%;
                padding: 2% 0;
            }
            width: 60%;
            padding: 2% 0;
        }
        p {
            padding: 0 2% 2% 6%;
        }
    }
    @media @phone {
        grid-template-columns: 1fr;
        grid-template-areas:
            "contactHeader"
            "address"
            "form";
        gap: 25px;
    }
}

//Form Submission
.goBack {
    font-size: 1.4rem;
    margin: 1%;
}
#results {
    font-size: 1.6rem;
    padding: 3%;
}

//AboutUs
.aboutPage {
    height: 100vh;
}
.wrapperAbout {
    background: url(../img/imike-stettler-OFKjrANxOXY-unsplash.jpg);
    .bkImg(0px, 150%, bottom center, 110vh, 100%, -3%);
    @media @tablet {
        height: 110vh;
        background-size: 260%;
        background-position: top right;
    }
}

.aboutWrap {
    h2 {
        font-size: 3rem;
        padding-top: 2%;
        text-align: center;
        align-self: center;
    }

    .aboutUs {
        border: none;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .people {
            text-align: center;
            width: 29%;
            padding: 4% 2% 2%;

            h3 {
                font-size: 2rem;
            }
            h5 {
                font-size: 1.8rem;
            }
            p {
                font-size: 1.4rem;
            }
            img {
                max-width: 40%;
            }
            @media @phone {
                width: 45%;
            }
        }
    }
}
